<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>solancer</display-name>
  <welcome-file-list>
    <welcome-file>adminIndex.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ArtistController</display-name>
    <servlet-name>ArtistController</servlet-name>
    <servlet-class>com.solancer.controller.ArtistController</servlet-class>
  </servlet>
  <servlet>
  	<display-name>GenreController</display-name>
    <servlet-name>GenreController</servlet-name>
    <servlet-class>com.solancer.controller.GenreController</servlet-class>
  </servlet>
  <servlet>
  	<display-name>AlbumController</display-name>
  	<servlet-name>AlbumController</servlet-name>
  	<servlet-class>com.solancer.controller.AlbumController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistController</servlet-name>
    <url-pattern>/ArtistController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenreController</servlet-name>
    <url-pattern>/GenreController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AlbumController</servlet-name>
  	<url-pattern>/AlbumController</url-pattern>
  </servlet-mapping>
</web-app>